body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.section {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

#section3 {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

/*下面这一部分是测试用的，放在section1和section2里面了，可以删掉*/

.single-layout {
  width: 100%
}

.horizontal-layout {
  display: flex;
  gap: 20px;
}

.image-container-new img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
}

.text-container-new {
  flex: 1;
}


/*高度与视窗高度一致，且有固定部分的section*/

.sticky-section .inner-content { /*可以滚动部分*/
  width: 100%;
  max-height: 100vh; /* 内容的最大高度为一屏 */
  overflow-y: auto; /* 内容超出时允许滚动 */
  position: absolute;
  top: 0;
  left: 0;
}

.sticky-section .inner-content div {/*这是没有加图片等内容，所以定义了一下div样式*/
  height: 100px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* 左右布局的容器 */
.horizontal-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row; /* 左右布局 */
  height: 100vh; /* 每个模块占满视口高度 */
}

/* 左边部分（背景图片） */
.left-section {
  flex: 1; /* 左边占一半宽度 */
  position: relative;
  overflow: hidden;
  height: 100vh;
  overflow-y: auto;
}

.bg-container {
display: flex; /* 使用 Flexbox 布局 */
flex-direction: column; /* 子元素垂直排列 */
width: 50vw; /* 图片宽度自动调整 */
}

.bg-image {
  width: 54vw; /* 图片宽度自动调整 */
  transform: translate(-6vw, 0);
  object-fit: cover; /* 确保图片覆盖整个容器 */
  filter: blur(2px); /* 模糊程度为5px */
  opacity: 0.5;
  transition: filter 0.3s ease; /* 添加过渡效果，使模糊效果更平滑 */

  /* 在图片上方和下方增加空白 */
  margin-top: calc(50vh - 18vw);
  margin-bottom: calc(50vh - 18vw);
}

/* 右边部分（文字内容） */
.right-section {
  flex: 1; /* 右边占一半宽度 */
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* 半透明背景 */
}

.content {
  text-align: center;
  max-width: 80%; /* 控制文字宽度 */
}

.content h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.content p {
  font-size: 1em;
  line-height: 1.5;
}


.sticky-section .flow-image {/*这一部分是一直悬浮的部分的样式*/
  position: absolute;
  top: 50vh;
  transform: translate(-52%, -50%);
  width: 54vw; /* 固定宽度 */
  height: 36vw; /* 固定高度 */
  overflow: hidden;
  margin: auto; /* 居中显示 */
  overflow-y: auto;
  border: 8px solid black;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.image {
  position: relative;
  top: 0;
  left: 0;
  /*transform: translate(-50%, -50%);*/
  width: 54vw; /* 图片宽度自动调整 */
  height: auto; /* 图片高度与容器一致 */
  object-fit: cover; /* 确保图片覆盖整个容器 */
  overflow-y: auto;
}

